<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3 link">
      <%= link_to "Contribute", "#" %>
    </div>
    <div class="col-xs-3">
      <div class="circle">
        <br />
        What should
        <br />
        I practice
        <br />
        today?
      </div>
    </div>
    <div class="col-xs-3 slogan">
      A drummer's Motivation!
    </div>
    <div class="col-xs-3 link">
      <%= link_to "About", "#" %>
    </div>
  </header>
  <hr />
  <br class="clear" />

<%= yield %>

</body>
</html>
