<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="navbar">
      <div class="col-xs-3 link1">
        <%= link_to "Contribute", "#" %>
      </div>
      <div class="col-xs-2">
        <div class="circle">
          <br />
          What should
          <br />
          I practice
          <br />
          today?
        </div>
      </div>
      <div class="col-xs-4 slogan">
        A drummer's Motivation!
      </div>
      <div class="col-xs-3 link2">
        <p class="pull-right"><%= link_to "About", "#" %></p>
      </div>
    </div>
  </header>

<div class="container">
  <%= yield %>
</div>
  
<div class="footer">
  <div class="container">
    <div class="col-xs-6">
      <%= link_to "I want to practice something else!", "#" %>
    </div>
    <div class="col-xs-6">
      Check out <a href="https://www.facebook.com/SouthJerseyDrumAcademy/">South Jersey Drum Academy</a><br />
      Want to build your own Splurty Web App? - <a href="http://thefirehoseproject.com">Learn how to code here</a>
    </div>
  </div>
</div>

</body>
</html>
